.logo {
  width: 540px;
  height: 540px;
  position: absolute;
  left: 25%;
  top: 30%;
  .logoWrapper {
    position: relative;
    width: 800px;

    .logoCircle {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;

      background-color: rgb(32, 31, 31);
      border-radius: 50%;
      width: 540px;
      height: 540px;

      .owl-carousel {
      }
      .owl-theme {
        .item {
          text-align: center;
          padding: 50px;
          margin-bottom: 0px;
          opacity: 0.2;
          transform: scale3d(0.8, 0.8, 1);
          transition: all 0.3s ease-in-out;

          .item {
            width: 238px;
            height: 227px;
            margin: 0 30px;
          }
        }
      }
    }
  }
}

.logoItems {
  position: absolute;
  .logoItemsTitle {
    padding-top: 22px;
    padding-left: 4px;
  }
}

.logoBox {
  position: absolute;
  display: flex;
  left: -30px;
  top: 150px;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  width: 540px;
}
.logoTitle {
  height: 82px;
  margin: 0;
}
.logoColorsBlock {
}

.colorsBtn {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;

  display: flex;
  flex-direction: column;

  margin-bottom: 17px;
}

.logoBtn {
  position: absolute;
  top: 458%;
  left: 28%;

  width: 174px;
  height: 56px;
  color: #000000;
  background: #e4ff00;
  border-radius: 6px;
  cursor: pointer;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: block;
}

.owl-item .active .center {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}
