
.main{
  margin-right: 60px;
  padding: 30px 0;
}
.wrapper {
  
}
.hamburgerBox{
    width: 37px;
    height: 37px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}
.hamburger {
  width: 30px;
  height: 3px;
  position: absolute;

  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
  

  &:before {
    content: '';
    width: 30px;
    height: 3px;
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
    transform: translateY(-10px);
  }

  &:after {
    content: '';
    width: 30px;
    height: 3px;
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
    transform: translateY(10px);
  }
}
.activeHamburger {
  z-index: 2000;
  width: 30px;
  height: 4px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;

  &:before {
    content: '||||';
    color:transparent;
    width: 30px;
    height: 5px;
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    transform: rotate((45deg));
  }
  
  &:after {
    content: '||||';
    color:transparent;
    width: 30px;
    height: 5px;
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    transform: rotate((-45deg));
  }
  
}

.linkItems{
    color: white;
}

.navbar{
  color:white;
  position: fixed;
  right: 0;
  top: 0;
  width:340px;
  height: 70%;
  background-color: transparent;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.activeNavbar{
  color:white;
  position: fixed;
  right: 0;
  top: 0;
  width: 340px;
  height: 70%;
  background-color: transparent;
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(137, 159, 26, 0.56) 0px 22px 70px 4px;
  border-radius:2px;
  
}
.navbarItems{
  padding-top: 30%;

}
.navbarItem{
  display: flex;
  align-items: center;
  padding-left: 29%;
    padding-top: 43px;
  
}
.sidebarWrapperImg{
  margin-right: 20px;
}
.navbarItemsLink{
  color: white;
  font-size: 20px;
  line-height: 30px;
}
